  body{overflow-x: hidden;
          background-color:whitesmoke;}
         
      /*search bar*/
         #search{border-radius: 5%;
                 margin: 0 auto;
                 text-align: center;
               justify-content: center;
                 display: flex;}

         .sb{border-radius: 5%;
                 margin: 0 auto;
                 text-align: center;
               justify-content: center;
                 display: flex;
                background-color: darkslategray;
               color: white;
               margin-top: 1%;}
       /*first and second images*/
        .secimg{float: right;
                opacity: 0.7;
                margin-top: 10%;
                border-radius: 20%;
                margin-right:10%;
                width:250px;
                height: 300px;
                animation: fade-in 1s ease-in-out;}
                 @media screen and (max-width:600px){.secimg{width: 150px;
            height: 200px;}}

             @media screen and (max-width:480px){.secimg{width: 100px;
              height: 150px;}}

            @keyframes fade-in{0%{opacity: 0;}100%{opacity: 0.4;}}

        .firstimg{width: 400px;
                  height: 400px;
                  position: relative;
                  animation: slideInRight 1s ease-out;
                  opacity: 1; 
                  border-radius: 20%;}

                @keyframes slideInRight{0%{right : -100px;
                                           opacity: 0;
                                        }100%{right: 0;
                                            opacity: 1;}}

                  @media screen and (max-width:600px){.firstimg{width: 250px;
                           height: 250px;}}

          @media screen and (max-width:480px){.firstimg{width: 150px;
                           height: 180px;}}
/*dropdown menu*/
 .dropcont{position:absolute;
          display: inline-block;
           margin-left: 92%; 
         position: relative;
         }

    .drop{width: 30px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 20px;
           }

    .drop:hover{background-color: cadetblue;}

    .drop span{display: block;
               height: 3px;
                             
               border-radius: 2px;
              background-color: black;}
    .dropdown{background-color:darkslategray;
              width: 40%;
              border-radius: 10%;
              margin-top: 10%;
              display: none;
               right: 0;
              width: 300px;
            position: absolute;
            z-index: 10;
            }       @media screen and (max-width:600px){.dropdown{width: 200px;}}
    .dropdown a{display:block;
                 margin-top: 10%;
                 padding: 6%;
                 overflow: hidden;
                text-decoration: none;
                color: aliceblue;
                border-bottom: 2px solid black;
                border-width:5px ;}

                /*show brand containers*/
        .buttoncont{box-shadow:0px 10px 20px rgba(0,0,0,0.5);
                    display: flex;
                    padding: 3%;
                    justify-content: space-between;
                   margin-top: 10%;
                   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                   background-color: rgb(203, 191, 169);}
                     @media screen and (max-width:600px){.buttoncont{padding: 5%;}}

                  /*buttons*/
         .nike{background-color: darkslategray;
               padding: 2%;
            border-radius: 20%;
           color: white;
          border: 5px solid antiquewhite;
          width: 35px;}   
           .nike:hover{color:rgb(203, 191, 169);
                        border: 4px solid white;
                           transition: ease-in-out 0.3s;
                  } 
           
        .vans{background-color: darkslategray;
               padding: 2%;
            border-radius: 20%;
           color: white;
            border: 5px solid antiquewhite;}   
           .vans:hover{color:rgb(203, 191, 169);
                       border: 4px solid white;
                           transition: ease-in-out 0.3s;} 

          .balanciaga{background-color: darkslategray;
               padding: 2%;
            border-radius: 15%;
           color: white;
         border: 5px solid antiquewhite;
         font-size: 15px;}   
           .balanciaga:hover{color:rgb(203, 191, 169);
                            border: 4px solid white;
                           transition: ease-in-out 0.3s;} 

             .loafers{background-color: darkslategray;
               padding: 2%;
            border-radius: 20%;
           color: white;
           border: 5px solid antiquewhite;
           font-size: 15px;
          }   
           .loafers:hover{color:rgb(203, 191, 169);
                          border: 4px solid white;
                           transition: ease-in-out 0.3s;} 

         /*select brand text*/
        .sel{align-items: center;
             justify-content: center;
            margin: 0 auto;
            display: flex;
            margin-top: 3%;
            color:darkslategray; ;}

            

        /*shoe images*/
            
        #nset2{display: flex;
           justify-content: space-between;
           margin-right: 10%;
           margin-left: 10%;
           margin-top: 5%;}

      

        #nike{display: flex;
           justify-content: space-between;
           margin-right: 10%;
           margin-left: 10%;
           margin-top: 5%;}

       
  .n1{width: 200px;
            height: 230px;
        box-shadow: 0px 10px 20px rgba(0,0,0,0.6);}
  .n2{width: 200px;
            height: 230px;
         box-shadow: 0px 10px 20px rgba(0,0,0,0.6);}
  .n3{width: 200px;
            height: 230px;
         box-shadow: 0px 10px 20px rgba(0,0,0,0.6);}
  .n4{width: 200px;
            height: 230px;
         box-shadow: 0px 10px 20px rgba(0,0,0,0.6);}
  .n5{width: 200px;
            height: 230px;
         box-shadow: 0px 10px 20px rgba(0,0,0,0.6);}
  .n6{width: 200px;
            height: 230px;
         box-shadow: 0px 10px 20px rgba(0,0,0,0.6);}

      @media screen and (max-width:600px){.n1{width: 120px;
       height: 150px;}
    .n2{width: 120px;
       height: 150px;}
    .n3{width: 120px;
       height: 150px;}
    .n4{width: 120px;
       height: 150px;}
    .n5{width: 120px;
       height: 150px;}
    .n6{width: 120px;
       height: 150px;}}

         @media screen and (max-width:480px)
   {.n1{width: 100px;
       height: 120px;}
    .n2{width: 100px;
       height: 120px;}
    .n3{width: 100px;
       height: 120px;}
    .n4{width: 100px;
       height: 120px;}
    .n5{width: 100px;
       height: 120px;}
    .n6{width: 100px;
       height: 120px;}}

       #vans{display: flex;
           justify-content: space-between;
           margin-right: 10%;
           margin-left: 10%;
           margin-top: 5%;
           display: none;}

  .v1{width: 200px;
            height: 230px;
        box-shadow: 0px 10px 20px rgba(0,0,0,0.6);}
  .v2{width: 200px;
            height: 230px;
         box-shadow: 0px 10px 20px rgba(0,0,0,0.6);}
  .v3{width: 200px;
            height: 230px;
         box-shadow: 0px 10px 20px rgba(0,0,0,0.6);}
      @media screen and (max-width:600px){.v1{width: 120px;
       height: 150px;}
    .v2{width: 120px;
       height: 150px;}
    .v3{width: 120px;
       height: 150px;}}

        @media screen and (max-width:480px)
        {.v1{width: 100px;
       height: 120px;}
    .v2{width: 100px;
       height: 120px;}
    .v3{width: 100px;
       height: 120px;}}
       

      #balanciaga{display: flex;
           justify-content: space-between;
           margin-right: 10%;
           margin-left: 10%;
           margin-top: 5%;
           display: none;}

  .b1{width: 200px;
            height: 230px;
        box-shadow: 0px 10px 20px rgba(0,0,0,0.6);}
  .b2{width: 200px;
            height: 230px;
         box-shadow: 0px 10px 20px rgba(0,0,0,0.6);}
  .b3{width: 200px;
            height: 230px;
         box-shadow: 0px 10px 20px rgba(0,0,0,0.6);}
      @media screen and (max-width:600px){.b1{width: 120px;
       height: 150px;}
    .b2{width: 120px;
       height: 150px;}
    .b3{width: 120px;
       height: 150px;}}


         @media screen and (max-width:480px)
        {.b1{width: 100px;
       height: 120px;}
    .b2{width: 100px;
       height: 120px;}
    .b3{width: 100px;
       height: 120px;}}
       
       

     #loafers{display: flex;
           justify-content: space-between;
           margin-right: 10%;
           margin-left: 10%;
           margin-top: 5%;
           display: none;}

  .l1{width: 200px;
            height: 230px;
        box-shadow: 0px 10px 20px rgba(0,0,0,0.6);}
  .l2{width: 200px;
            height: 230px;
         box-shadow: 0px 10px 20px rgba(0,0,0,0.6);}
  .l3{width: 200px;
            height: 230px;
         box-shadow: 0px 10px 20px rgba(0,0,0,0.6);}
      @media screen and (max-width:600px){.l1{width: 120px;
       height: 150px;}
    .l2{width: 120px;
       height: 150px;}
    .l3{width: 120px;
       height: 150px;}}

         @media screen and (max-width:480px)
        {.l1{width: 100px;
       height: 120px;}
    .l2{width: 100px;
       height: 120px;}
    .l3{width: 100px;
       height: 120px;}}
       
       

       .t{background-color: darkslategray;
          padding: 1%;
        border: 3px solid rgb(203, 191, 169);
        color:rgb(203, 191, 169);
        border-radius: 15%;}
       .t:hover{color: white;}

       /*checkout text*/
      .cartt{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              font-size: 30px;}


      #no{color: darkslategray;}
      #am{color: darkslategray;}

      .checkout{background-color: aliceblue;
          box-shadow: 0px 10px 20px rgba(0,0,0,0.5);
         padding: 3%;
         display: block;
       text-align: center;
       justify-content: center;}


       /*buttons*/
      .purchase{background-color: bisque;
                color: darkslategrey;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

      .reset{background-color: darkslategrey;
             color: white;
             font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

               .socials{display: flex;
             justify-content: flex-end;
             margin-top: 5%;
             
            }

        /*socials button*/

      .f{padding: 5%;
         height: 5%;
         width: 5%;
        border-radius: 28%;
        transform: rotate(-18deg);
        box-shadow: 3px 3px 2px;
        }
        
    .wh{padding: 5%;
       height: 10%;
       border-radius: 30%;
      width: 5%;
       transform: rotate(-18deg);
      box-shadow: 3px 3px 3px;}

      .i{padding: 5%;
        width: 5%;
         height: 20%;
        border-radius: 30%;
     transform: rotate(-18deg);
     box-shadow: 3px 3px 3px;}

                
.f:hover{width: 8%;
         transition: ease-in-out 1s;}

.wh:hover{width:8%;
         transition:ease-in-out 1s;}

.i:hover{width: 8%;
         transition: ease-in-out 1s;}



.footer{margin-top: 30%;
        background-color: black;
        color:rgb(203, 191, 169);
        padding: 3%;}
